.portada{
    width: 100%;
    margin: 0;
    container-type: inline-size;
}

.portada:has(h1){
    text-align: center;
}

.imagen-articulo{
    max-width: 100%;
    height: auto;
}

.autor{
    font-size: .8rem;
    text-align: center;
}

.container {
    margin-bottom: 50px;
    container-type: inline-size;
}

.container-article{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.debajo-imagen{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

:is(.lista p, .partefinal p){
    font-weight: 400;
}

.hrarticle{
    border-top: 5px solid rgb(0, 0, 0);
    margin-bottom: 40px;
    margin-top: 40px;
}

blockquote {
    margin-left: 45px;
    padding-left: 2rem;
    border-left: 3px solid $principal-color;
    width: 92%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.texto-blockquote{
    font-size: 1.55rem;
}

.parte-final{
    margin-top: 40px;
}

@container (width < 431px){
    .display-1{
        font-size: 32px;
    }
    .debajo-imagen{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px; 
    }
    :is(.container p){
        font-size: 16px;
    }
    :is(.lista h2){
        font-size: 22px;
    }
    .blockquote{
        margin-left: 20px;
    }
    .cita{
      font-size: 14px;
    }
}
  
@container (width > 430px) and (width < 821px){
    :is(.container p){
        font-size: 20px;
    }
    :is(.lista h2){
        font-size: 25px;
    }
    .blockquote{
        margin-left: 30px;
    }
    .cita{
        font-size: 20px;
    }
}

@supports not (display: grid) {
    .debajo-imagen {
        display: flex;
        flex-direction: column;
    }
    
    @container (width < 431px){
        .debajo-imagen {
            display: flex;
            flex-direction: column;
        }
    }
    
    @container (width > 430px) and (width < 821px){
        .debajo-imagen {
            display: flex;
            flex-direction: column;
        }
    }
}
