footer {
  padding: 20px;
  background-color: $background-footer;
  color: rgb(255, 255, 255);
  text-align: center;
  container-type: inline-size;
}

.contact-info {
  margin-bottom: 20px;
  p {
    margin: 5px 0;
  }
}
  
hr {
  border: none;
  border-top: 1px solid rgb(255, 255, 255);
  margin: 20px 0;
}
  
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@function invert($color, $amount: 100%) {
  $inverse: color.change($color, $hue: color.hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

.bottom-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 50px;
  }

  li:last-child{
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: invert(rgb(255, 255, 255), 40%);
  }

  a:hover {
    text-decoration: none;
    color: $hover-color;
  }
} 
  
.social-icons{
  .icon {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 20px;
  }

  .icon:hover {
    color: $hover-color;
  }
}

@container (width < 431px){
  .footer-content{
    gap: 0;
    flex-direction: column;
  }

  .bottom-nav{
    ul{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      gap: 20px; 
    }
    li{
      padding: 0;
      margin: 0 auto;
    }
    li:last-child{
      padding: 0;
      margin: 0 auto;
    }
  } 

}

@container (width > 430px) and (width < 821px){
  .contact-info{
    font-size: 20px;
  }
  .footer-content{
    flex-direction: column;
    gap: 15px;
  }
  .bottom-nav{
    ul{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      gap: 15px;
    }
    li{
      padding: 0;
      margin: 0 auto;
      font-size: 20px;
    }
    li:last-child{
      padding: 0;
      margin: 0 auto;
      font-size: 20px;
    }
  } 

}

/* Versiones alternativas para navegadores que no admiten CSS Grid */
@supports not (display: grid) {
    footer {
        width: 100%;
        padding: 10px;
    }
}