@layer defaults {
  .containervideos h1 {
      font-size: 3.5rem;
  }
}

@layer utilities {
  .containervideos h1 {
      text-align: center;
  }
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
}

.logo{
  max-width: 10%;
  height: auto;
}

.containervideos{
  max-width: 100%;
  margin-top: auto;
  margin-bottom: 150px;
  container-type: inline-size;

  h1{
      margin-top: 25px;
      margin-bottom: 50px;
      font-size: 3.5rem;
  }
}

figure{
  margin: 0 auto;
  align-items: center;
}

.navvideos{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  ul{
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 70%;
      gap: 50px;
  }
}

.card-img-top{
  max-width: 100%;
  height: 522px;
}

@container (width < 431px){
  .containervideos h1{
      width: 100%;
      font-size: 1.9rem;
      margin-bottom: 0;
  }
  .navvideos ul{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      margin: 0 auto;
  }
  .card-title{
      font-size: 23px;
  }
  .card-text{
      font-size: 15px;
  }
}

@container (width > 430px) and (width < 821px){
  .containervideos h1{
      font-size: 2.9rem;
      margin-bottom: 0;
  }
  .navvideos ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
  }
  .card-title{
      font-size: 28px;
  }
  .card-text{
      font-size: 20px;
  }
}

@supports not (display: grid) {
  .navvideos ul {
      display: flex;
      flex-direction: column;
  }
  
  @container (width < 431px){
      .navvideos ul{
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0 auto;
      }
  }
  
  @container (width > 430px) and (width < 821px){
      .navvideos ul{
          display: flex;
          flex-direction: column;
      }
  }
}

