<footer>
    <div class="contact-info">
        <p>Teléfono: 123-456-789</p>
        <p>Email: info@concurso.com</p>
    </div>
    <hr>
    <div class="footer-content">
        <img src="./assets/images/logo.ico" alt="Logo del Concurso" class="logo">
        <nav class="bottom-nav">
            <ul>
                <li><a href="./index.html">Participantes</a></li>
                <li><a href="./article.html">Información sobre el concurso</a></li>
            </ul>
        </nav>
        <div class="social-icons">
            <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>